<div class="box">
  <div class="box-header box-header-small">
    <div class="title">
      查詢條件
    </div>
    <div class="actions">
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>
  <div class="box-content">
    <%= form_tag admin_order_remittances_path, method: :get, html: {class: 'form'} do %>
      <div class="row">
        <div class="col-sm-3 col-xs-4">
          <label class="label label-warning">未進行確認</label>
          <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
            <%= check_box_tag 'search_filter[]', 'nil', @search_filter.include?('nil') %>
          </div>
        </div>
        <div class="col-sm-3 col-xs-4">
          <label class="label label-success">已確認匯款</label>
          <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
            <%= check_box_tag 'search_filter[]', 'completed', @search_filter.include?('completed') %>
          </div>
        </div>
        <div class="col-sm-3 col-xs-4">
          <label class="label label-danger">匯款資料有誤</label>
          <div class='switch switch-small' data-off-label='<i class="icon-remove"></i>' data-on-label='<i class="icon-ok"></i>' style="vertical-align: middle;">
            <%= check_box_tag 'search_filter[]', 'denied', @search_filter.include?('denied') %>
          </div>
        </div>

        <div class="col-sm-3 col-xs-4 text-right pull-right">
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-inverse">
              <i class="icon-search"></i>
              查詢
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>