<%= render 'layouts/breadcrumbs', title: t('header.navigation.handmadebag') %>
<div class="container">
  <div class="row">
    <%= render 'products/side_navigation' %>
    <div class="col-md-9">
      <div class="row">
        <% if params[:product_id] %>
          <%= render 'product_custom_form' %>
        <% else %>
          <%= render 'full_custom_form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>