<div class="headline">
  <span class="color-green">
    你選擇的搭配
  </span>
</div>
<% custom_items.each do |order_product_custom_item| %>
  <h6>
    <%= order_product_custom_item.product_custom_item.product_custom_item_translates.where(locale_id: session[:locale_id]).first.name %>
    <span class="pull-right">
      <% @subtotal[index] += order_product_custom_item.product_custom_item.price %>
      <%= number_to_currency(order_product_custom_item.product_custom_item.price) %>
    </span>
  </h6>
<% end %>