a:focus,
a:hover, 
a:active {
	color: #72c02c;
}

.color {
	color: #72c02c;
}

a.read-more:hover { 
	color:#72c02c; 
}

.linked:hover {
	color:#72c02c;
}

/*Sliders
------------------------------------*/
/*Main Parallax Sldier*/
.da-slide h2 i {
	background:image_url('unify/plugins/parallax-slider/bg-heading.png') repeat;
}

/*Sequence Parallax Sldier*/
.sequence-inner {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#defce7));
  background: -webkit-linear-gradient(#fff, #defce7);
  background: -moz-linear-gradient(#fff, #defce7);
  background: -ms-linear-gradient(#fff, #defce7);
  background: -o-linear-gradient(#fff, #defce7);
  background: linear-gradient(#fff, #defce7)
}

#sequence-theme h2 {
	background:rgba(114, 192, 44, 0.8);
}

#sequence-theme .info p {
	background:rgba(114, 192, 44, 0.8);
}

/*Purchase
------------------------------------*/
.purchase a.btn-buy {
	background:#72c02c;
	text-shadow:0 1px 0 #5fb611;
}
.purchase a.btn-buy:hover {
	background:#5fb611;
} 

/*Buttons
------------------------------------*/
.btn-u {
	background: #72c02c;
}

.btn-u:hover {
	background: #5fb611;
}

/*Service
------------------------------------*/
.service .service-icon {
	color:#72c02c;	
}

/*Service Blocks*/
.service-alternative .service:hover { 
	background:#72c02c;
} 

/*Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
	color:#72c02c;
}

.thumbnail-style a.btn-more {
	background:#72c02c;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px #5fb611;
}

/*Carousel (Recent Work)*/
.recent-work a:hover span {
	border-bottom:solid 2px #72c02c;
}

.bx-wrapper .bx-prev {
	background-image: image_url('unify/plugins/bxslider/controls.png');
}
.bx-wrapper .bx-next {
	background-image: image_url('unify/plugins/bxslider/controls.png');
}

/*Typography
------------------------------------*/
/*Heading*/
.headline h2, 
.headline h3, 
.headline h4 {
	border-bottom:2px solid #72c02c;
}

/*Blockquote*/
blockquote:hover {
	border-left-color:#72c02c; 
}

.hero {
	border-left-color: #72c02c;
}

/*Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: #72c02c;
}

/*Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: #72c02c;
}

/*Footer Blog*/
.footer .dl-horizontal a:hover {
	color:#72c02c !important;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a:hover { 
	color:#72c02c; 
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a { 
	color: #72c02c;
	border-color: #72c02c !important;
}

/*Post Comment*/
.post-comment h3, 
.blog-item .media h3,
.blog-item .media h4.media-heading span a {
	color: #72c02c;
}

/*Tabs
------------------------------------*/
/*Tabs v1*/
.tab-v1 .nav-tabs { 
	border-bottom: solid 2px #72c02c; 	
}

.tab-v1 .nav-tabs > .active > a, 
.tab-v1 .nav-tabs > .active > a:hover, 
.tab-v1 .nav-tabs > .active > a:focus { 
	background: #72c02c; 
}

.tab-v1 .nav-tabs > li > a:hover { 
	background: #72c02c; 
}

/*Tabs v2*/
.tab-v2 .nav-tabs li.active a {
	border-top: solid 2px #72c02c;
}

/*Tabs v3*/
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
	background: #72c02c;
	border: solid 1px #5fb611;
}

/*Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover { 
	color:#72c02c; 
}
.acc-home .collapse.in { 
	border-bottom:solid 1px #72c02c; 
}

/*Testimonials
------------------------------------*/
.testimonials .testimonial-info {
	color: #72c02c;
}

.testimonials .carousel-arrow i:hover {
	background: #72c02c;
}

/*Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
	color: #72c02c;
}

/*Breadcrumb
------------------------------------*/
.breadcrumb li.active,
.breadcrumb li a:hover {
	color:#72c02c;
}

/*About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
	color:#72c02c !important;
}

/*Social Icons*/
.team ul.team-socail li i:hover {
	background: #72c02c;
}

/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.pricing:hover h4 {
	color:#55c931;
}

.pricing-head h3 {
	background:#55c931;
	text-shadow:0 1px 0 #32a20f;
	border-bottom:solid 1px #41b91c;
}
.pricing-head h4 {
	color:#999;
	background:#fbfef2;
	border-bottom:solid 1px #f5f9e7;
}
	
/*Pricing Content*/
.pricing-content li {
	border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
	color:#72c02c;
}

/*Pricing Footer*/
.pricing-footer a,
.pricing-footer button {
	background:#72c02c;
	text-shadow:0 1px 0 #38b312;
	border-bottom:solid 2px #41b91c;
}
.pricing-footer a:hover,
.pricing-footer button:hover {
	background:#40ba1a;
}

/*Priceing Active*/
.price-active h4 {
	color:#55c931;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
	color:#55c931;
}

/*Right Sidebar
------------------------------------*/
/*Right Sidebar*/
.who li i,
.who li:hover i, 
.who li:hover a { 
	color:#72c02c; 
}

/*Privacy Page
------------------------------------*/
.privacy a:hover {
	color:#72c02c; 
}

/*Portfolio Page
------------------------------------*/
/*Portfolio v1*/
.view a.info:hover {
	background: #72c02c;
}

/*Portfolio v2*/
.sorting-block .sorting-nav li.active {
	color: #72c02c;
	border-bottom: solid 1px #72c02c;
}

.sorting-block .sorting-grid li a:hover span.sorting-cover {
	background: #72c02c;
}

/*Blog Page
------------------------------------*/
.blog h3 {
	color:#72c02c;
}
.blog li a:hover {
	color:#72c02c;
}

/*Blog Tags*/
ul.blog-tags a:hover {
	background: #72c02c;
}

.blog-post-tags ul.blog-tags a:hover {
    background: none repeat scroll 0 0 #72c02c;
}

/*Blog Photos*/
.blog-photos li img:hover {
	box-shadow: 0 0 0 2px #72c02c;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner:hover {
	border-color: #72c02c;
	border-top-color: #72c02c;	
}
.blog-twitter .blog-twitter-inner:hover:after {
	border-top-color: #72c02c;	
}

.blog-twitter .blog-twitter-inner a {
	color: #72c02c;
}

/*Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
	color:#72c02c;
}

/*Coming Soon Page
------------------------------------*/
.coming-soon-border {
	border-top: solid 3px #72c02c;
}

/*Search Page
------------------------------------*/
.booking-blocks p a {
	color: #72c02c;
}

/*Icons Page
------------------------------------*/
.icon-page li:hover { 
	color:#72c02c;
}

/*Glyphicons*/
.glyphicons-demo a:hover {
	color: #72c02c;
	text-decoration: none;
}

/*Magazine Page
------------------------------------*/
/*Magazine News*/
.magazine-news .by-author strong {
	color: #72c02c;
}

.magazine-news a.read-more {
	color: #72c02c;
}

/*Magazine Mini News*/
.magazine-mini-news .post-author strong {
	color: #72c02c;
}

.news-read-more i {
	background: #72c02c;
}

/*Sidebar Features*/
.magazine-page h3 a:hover {
	color: #72c02c;
}

/*Page Features
------------------------------------*/
/*Tag Boxes v1*/
.tag-box-v1 {
	border-top: solid 2px #72c02c;
}

/*Tag Boxes v2*/
.tag-box-v2 {
	border-left: solid 2px #72c02c;
}

/*Tag Boxes v7*/
.tag-box-v7 {
	border-bottom: solid 2px #72c02c;
}

/*Font Awesome Icon Page Style*/
.fa-icons li:hover { 
   color: #72c02c;
}

.fa-icons li:hover i {
   background: #72c02c; 
}

/*GLYPHICONS Icons Page Style*/
.bs-glyphicons li:hover {
   color: #72c02c;
}

/*Navigation
------------------------------------*/
/*Pagination*/
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
   background-color: #72c02c;
   border-color: #72c02c;
}

.pagination li a:hover {
   background: #5fb611;
   border-color: #5fb611;   
}

/*Pager*/
.pager li > a:hover, 
.pager li > a:focus {
   background: #5fb611;
   border-color: #5fb611;   
}

/*Registration and Login Page v2
------------------------------------*/
.reg-block {
	border-top: solid 2px #72c02c;
}

.box {
  margin-bottom: 20px;
  position: relative; }
.box.box-collapsed .box-header .actions .box-collapse i:before {
  content: "\f078"; }
.box.box-collapsed .box-content {
  display: none; }
.box .box-header {
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
  padding: 10px 15px;
  overflow: hidden;
  *zoom: 1; }
.box .box-header.contrast-background {
  color: white; }
.box .box-header.contrast-background .title {
  color: white; }
.box .box-header.contrast-background .actions .btn-link {
  color: white; }
.box .box-header.contrast-background .actions .btn-link:hover {
  color: #f34541 !important;
  background-color: white; }
.box .box-header.orange-background {
  color: white; }
.box .box-header.orange-background .title {
  color: white; }
.box .box-header.orange-background .actions .btn-link {
  color: white; }
.box .box-header.orange-background .actions .btn-link:hover {
  color: #f8a326 !important;
  background-color: white; }
.box .box-header.blue-background {
  color: white; }
.box .box-header.blue-background .title {
  color: white; }
.box .box-header.blue-background .actions .btn-link {
  color: white; }
.box .box-header.blue-background .actions .btn-link:hover {
  color: #00acec !important;
  background-color: white; }
.box .box-header.purple-background {
  color: white; }
.box .box-header.purple-background .title {
  color: white; }
.box .box-header.purple-background .actions .btn-link {
  color: white; }
.box .box-header.purple-background .actions .btn-link:hover {
  color: #9564e2 !important;
  background-color: white; }
.box .box-header.green-background {
  color: white; }
.box .box-header.green-background .title {
  color: white; }
.box .box-header.green-background .actions .btn-link {
  color: white; }
.box .box-header.green-background .actions .btn-link:hover {
  color: #49bf67 !important;
  background-color: white; }
.box .box-header.red-background {
  color: white; }
.box .box-header.red-background .title {
  color: white; }
.box .box-header.red-background .actions .btn-link {
  color: white; }
.box .box-header.red-background .actions .btn-link:hover {
  color: #f34541 !important;
  background-color: white; }
.box .box-header.muted-background {
  color: white; }
.box .box-header.muted-background .title {
  color: white; }
.box .box-header.muted-background .actions .btn-link {
  color: white; }
.box .box-header.muted-background .actions .btn-link:hover {
  color: #999999 !important;
  background-color: white; }
.box .box-header.fb-background {
  color: white; }
.box .box-header.fb-background .title {
  color: white; }
.box .box-header.fb-background .actions .btn-link {
  color: white; }
.box .box-header.fb-background .actions .btn-link:hover {
  color: #3d579d !important;
  background-color: white; }
.box .box-header.dark-background {
  color: white; }
.box .box-header.dark-background .title {
  color: white; }
.box .box-header.dark-background .actions .btn-link {
  color: white; }
.box .box-header.dark-background .actions .btn-link:hover {
  color: #2b2d30 !important;
  background-color: white; }
.box .box-header.pink-background {
  color: white; }
.box .box-header.pink-background .title {
  color: white; }
.box .box-header.pink-background .actions .btn-link {
  color: white; }
.box .box-header.pink-background .actions .btn-link:hover {
  color: #c44a83 !important;
  background-color: white; }
.box .box-header.grass-green-background {
  color: white; }
.box .box-header.grass-green-background .title {
  color: white; }
.box .box-header.grass-green-background .actions .btn-link {
  color: white; }
.box .box-header.grass-green-background .actions .btn-link:hover {
  color: #5daf2b !important;
  background-color: white; }
.box .box-header.sea-blue-background {
  color: white; }
.box .box-header.sea-blue-background .title {
  color: white; }
.box .box-header.sea-blue-background .actions .btn-link {
  color: white; }
.box .box-header.sea-blue-background .actions .btn-link:hover {
  color: #0163ac !important;
  background-color: white; }
.box .box-header.banana-background {
  color: white; }
.box .box-header.banana-background .title {
  color: white; }
.box .box-header.banana-background .actions .btn-link {
  color: white; }
.box .box-header.banana-background .actions .btn-link:hover {
  color: #fcd052 !important;
  background-color: white; }
.box .box-header.dark-orange-background {
  color: white; }
.box .box-header.dark-orange-background .title {
  color: white; }
.box .box-header.dark-orange-background .actions .btn-link {
  color: white; }
.box .box-header.dark-orange-background .actions .btn-link:hover {
  color: #f56e00 !important;
  background-color: white; }
.box .box-header.brown-background {
  color: white; }
.box .box-header.brown-background .title {
  color: white; }
.box .box-header.brown-background .actions .btn-link {
  color: white; }
.box .box-header.brown-background .actions .btn-link:hover {
  color: #924e31 !important;
  background-color: white; }
.box .box-header .title {
  float: left;
  color: #3c3c3c; }
.box .box-header .actions {
  margin-top: -3px;
  float: right; }
.box .box-header .actions .dropdown-toggle {
  position: relative;
  top: 5px; }
.box .box-header .actions .btn-link {
  color: #c4c4c4;
  text-decoration: none;
  text-shadow: none; }
.box .box-header .actions .box-collapse i {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }
.box .box-header .actions .box-collapse i:before {
  content: "\f077"; }
.box .box-header.box-header-small {
  font-size: 14px;
  font-weight: 200;
  line-height: 19px;
  padding: 10px 10px; }
.box .box-header.box-header-small .actions {
  margin-top: -1px; }
.box .box-content {
  padding: 10px;
  border: 1px solid #dddddd;
  background: white;
  display: block;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); }
.box .box-content .box-toolbox {
  overflow: hidden;
  *zoom: 1;
  background-color: #f4f4f4;
  padding: 5px; }
.box .box-content .box-toolbox.box-toolbox-top {
  margin: -10px -10px 10px -10px;
  border-bottom: 1px solid #dddddd; }
.box .box-content .box-toolbox.box-toolbox-bottom {
  margin: 10px -10px -10px -10px;
  border-top: 1px solid #dddddd; }
.box .box-content.box-no-padding {
  padding: 0; }
.box .box-content.box-no-padding form {
  margin-bottom: 0; }
.box .box-content.box-padding {
  padding: 20px; }
.box .box-content.box-padding .box-toolbox {
  padding: 10px;
  position: relative; }
.box .box-content.box-padding .box-toolbox.box-toolbox-top {
  margin: -20px -20px 20px -20px; }
.box .box-content.box-padding .box-toolbox.box-toolbox-bottom {
  margin: 20px -20px -20px -20px; }
.box .box-content.box-double-padding {
  padding: 40px; }
.box .box-content.box-double-padding .box-toolbox {
  padding: 20px; }
.box .box-content.box-double-padding .box-toolbox.box-toolbox-top {
  margin: -40px -40px 40px -40px; }
.box .box-content.box-double-padding .box-toolbox.box-toolbox-bottom {
  margin: 40px -40px -40px -40px; }
.box.box-transparent {
  background: none;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.box.box-transparent .box-content {
  background: transparent;
  border: none;
  border-top: 1px solid #dddddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.box.box-bordered {
  border-style: solid;
  border-width: 2px;
  border-color: #dddddd; }
.box.box-bordered .box-content {
  border-left: none;
  border-right: none;
  border-bottom: none; }

.box-quick-link {
  text-align: center;
  margin-bottom: 10px; }
.box-quick-link a {
  text-decoration: none; }
.box-quick-link a .header {
  height: 60px;
  line-height: 60px;
  padding-bottom: 2px; }
.box-quick-link a .header [class^="icon-"], .box-quick-link a .header [class*=" icon-"] {
  color: white;
  font-size: 30px;
  vertical-align: middle; }
.box-quick-link a .content {
  text-transform: uppercase;
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #5b5b5b;
  background-color: #dbdbdb;
  border-bottom: 1px solid #cecece;
  padding: 5px; }
.box-quick-link a:hover .header [class^="icon-"], .box-quick-link a:hover .header [class*=" icon-"] {
  font-size: 40px; }
.box-quick-link a:hover .content {
  text-decoration: underline;
  border-bottom-color: #c1c1c1;
  background-color: #cecece; }
.box-quick-link.contrast-background a:active .header {
  background: #f01611; }
.box-quick-link.contrast-background:hover .header {
  background: #f12e29; }
.box-quick-link.orange-background a:active .header {
  background: #e48a07; }
.box-quick-link.orange-background:hover .header {
  background: #f7990d; }
.box-quick-link.blue-background a:active .header {
  background: #0087b9; }
.box-quick-link.blue-background:hover .header {
  background: #0099d3; }
.box-quick-link.purple-background a:active .header {
  background: #7839da; }
.box-quick-link.purple-background:hover .header {
  background: #864fde; }
.box-quick-link.green-background a:active .header {
  background: #379e51; }
.box-quick-link.green-background:hover .header {
  background: #3eb05b; }
.box-quick-link.red-background a:active .header {
  background: #f01611; }
.box-quick-link.red-background:hover .header {
  background: #f12e29; }
.box-quick-link.muted-background a:active .header {
  background: gray; }
.box-quick-link.muted-background:hover .header {
  background: #8c8c8c; }
.box-quick-link.fb-background a:active .header {
  background: #2f4378; }
.box-quick-link.fb-background:hover .header {
  background: #364d8b; }
.box-quick-link.dark-background a:active .header {
  background: #131415; }
.box-quick-link.dark-background:hover .header {
  background: #1f2023; }
.box-quick-link.pink-background a:active .header {
  background: #a5366a; }
.box-quick-link.pink-background:hover .header {
  background: #b83c76; }
.box-quick-link.grass-green-background a:active .header {
  background: #478621; }
.box-quick-link.grass-green-background:hover .header {
  background: #529b26; }
.box-quick-link.sea-blue-background a:active .header {
  background: #014679; }
.box-quick-link.sea-blue-background:hover .header {
  background: #015493; }
.box-quick-link.banana-background a:active .header {
  background: #fbc220; }
.box-quick-link.banana-background:hover .header {
  background: #fcc939; }
.box-quick-link.dark-orange-background a:active .header {
  background: #c25700; }
.box-quick-link.dark-orange-background:hover .header {
  background: #dc6300; }
.box-quick-link.brown-background a:active .header {
  background: #6c3a24; }
.box-quick-link.brown-background:hover .header {
  background: #7f442b; }

.box-statistic {
  background-color: white;
  margin-bottom: 5px;
  padding: 5px 10px;
  position: relative; }
.box-statistic .title {
  margin: 0;
  line-height: 28px; }
.box-statistic small {
  text-transform: uppercase; }
.box-statistic [class*="icon-"] {
  font-size: 30px;
  top: 13px; }
.box-statistic [class*="icon-"].align-left {
  position: absolute;
  left: 10px; }
.box-statistic [class*="icon-"].align-right {
  position: absolute;
  right: 10px; }
.box-statistic.contrast-background .title, .box-statistic.contrast-background small, .box-statistic.contrast-background [class*="icon-"] {
  color: white !important; }
.box-statistic.contrast-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.orange-background .title, .box-statistic.orange-background small, .box-statistic.orange-background [class*="icon-"] {
  color: white !important; }
.box-statistic.orange-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.blue-background .title, .box-statistic.blue-background small, .box-statistic.blue-background [class*="icon-"] {
  color: white !important; }
.box-statistic.blue-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.purple-background .title, .box-statistic.purple-background small, .box-statistic.purple-background [class*="icon-"] {
  color: white !important; }
.box-statistic.purple-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.green-background .title, .box-statistic.green-background small, .box-statistic.green-background [class*="icon-"] {
  color: white !important; }
.box-statistic.green-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.red-background .title, .box-statistic.red-background small, .box-statistic.red-background [class*="icon-"] {
  color: white !important; }
.box-statistic.red-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.muted-background .title, .box-statistic.muted-background small, .box-statistic.muted-background [class*="icon-"] {
  color: white !important; }
.box-statistic.muted-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.fb-background .title, .box-statistic.fb-background small, .box-statistic.fb-background [class*="icon-"] {
  color: white !important; }
.box-statistic.fb-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.dark-background .title, .box-statistic.dark-background small, .box-statistic.dark-background [class*="icon-"] {
  color: white !important; }
.box-statistic.dark-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.pink-background .title, .box-statistic.pink-background small, .box-statistic.pink-background [class*="icon-"] {
  color: white !important; }
.box-statistic.pink-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.grass-green-background .title, .box-statistic.grass-green-background small, .box-statistic.grass-green-background [class*="icon-"] {
  color: white !important; }
.box-statistic.grass-green-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.sea-blue-background .title, .box-statistic.sea-blue-background small, .box-statistic.sea-blue-background [class*="icon-"] {
  color: white !important; }
.box-statistic.sea-blue-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.banana-background .title, .box-statistic.banana-background small, .box-statistic.banana-background [class*="icon-"] {
  color: white !important; }
.box-statistic.banana-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.dark-orange-background .title, .box-statistic.dark-orange-background small, .box-statistic.dark-orange-background [class*="icon-"] {
  color: white !important; }
.box-statistic.dark-orange-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic.brown-background .title, .box-statistic.brown-background small, .box-statistic.brown-background [class*="icon-"] {
  color: white !important; }
.box-statistic.brown-background small {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
.box-statistic:hover [class*="icon-"].align-right {
  right: 15px;
  -webkit-transition: right 0.1s linear;
  -moz-transition: right 0.1s linear;
  -o-transition: right 0.1s linear;
  transition: right 0.1s linear; }
.box-statistic:hover [class*="icon-"].align-left {
  left: 15px;
  -webkit-transition: left 0.1s linear;
  -moz-transition: left 0.1s linear;
  -o-transition: left 0.1s linear;
  transition: left 0.1s linear; }

.fuelux .wizard {
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
  border: medium none;
}

.fuelux .wizard ul li {
  background-color: #F5F5F5;
  margin-right: 30px;
  padding: 0px 15px;
  color: #424242;
  font-family: Montserrat;
  font-size: 20px;
  position: relative;
  border-radius: 0px !important;

  @media (max-width: 767px) {
    margin-right: 10px;
  }
}

.fuelux .wizard ul li:before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #F5F5F5;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: -30px;

  @media (max-width: 767px) {
    width: 10px;
    left: -10px;
  }
}

.fuelux .wizard ul li.active {
  color: #FFF;
}

.fuelux .wizard ul li:first-child:before {
  display: none;
}

.fuelux .wizard ul li.complete {
  background-color: #DADADA;
  color: #FFF;
}

.fuelux .wizard ul li.complete:before {
  background-color: #DADADA;
}

.fuelux .wizard ul li.complete:hover {

}
.fuelux .wizard ul li.complete:hover {
  cursor: pointer;
  background: none repeat scroll 0% 0% #F5F5F5;
}

.fuelux .wizard ul li.active {
  background-color: #F8A326;
}

.responsive-table {
  position: relative;
  overflow: hidden;

  .scrollable-area {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
  }

  table {
    td {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}