<table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100pad" style="padding: 20px 20px;">
  <tr>
    <td>
      <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif" color="#848484">
        <center>
          <strong style="font-size:16px;color: #000000;text-align: center;">
            <%== t('mailer.text.user.alert') %>
          </strong>
        </center>
      </font>
    </td>
  </tr>
</table>

<table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100padbottom" style="padding: 0px 20px 20px;">
  <tr>
    <td>
      <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif" color="#848484">
        <span style="font-size:14px;">
          <%== t('mailer.text.user.sign_in_link', link: "<br/>#{email_signin_url(@token)}<br/>") %>
        </span>
      </font>
    </td>
  </tr>
</table>

<table width="540" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" class="100padleftright" style="padding: 0px 20px;">
  <tr>
    <td>
      <a href="<%= email_signin_url(@token) %>" style="text-decoration:none;">
        <table width="100%" border="0" cellspacing="0" cellpadding="15" bgcolor="#72C8E6">
          <tr>
            <td align="center" style="font-size:20px; color:#FFFFFF;">
              <font face="'Source Sans Pro', '微軟正黑體', 'Helvetica Neue', Arial, sans-serif">
                <%= t('mailer.text.user.sign_in') %>
              </font>
            </td>
          </tr>
        </table>
      </a>
    </td>
  </tr>
</table>

<br/>