<div class="modal" id="signin-modal" style="display:block;position:relative;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="padding-top: 0;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <div id="social-signin">
              <div class="text-center">
                <h3>
                  登入/建立 你的帳號<br/>
                  <small>只需要簡單的兩個步驟</small>
                </h3>
              </div>
              <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-google btn-block social-btn' do %>
                <i class="fa fa-google fa-fw"></i>
                使用Google做身份驗證
              <% end %>
              <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-fb btn-block social-btn' do %>
                <i class="fa fa-facebook fa-fw"></i>
                使用Facebook做身份驗證
              <% end %>
              <hr/>
              <button type="button" class="btn btn-link btn-block" id="email-signin-btn">使用Email登入或建立帳號</button>
            </div>
            <div id="user-email-form" style="display:none;">
              <div class="text-center">
                <h3>
                  我們只需要確認這個信箱是您在使用
                </h3>
                <input type="text" class="form-control" name="email" placeholder="yourname@example.com" />
                <button data-url="<%= email_authencate_path %>" type="submit" class="btn btn-link">登入</button>
                <a class="btn text-muted" data-dismiss="modal">取消</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 text-center" id="user-email-sent" style="display:none;">
            <h3>
              <i class="fa fa-envelope-o fa-fw"></i>
              我們寄了一個連結給你以用來確認身份<br/>請你檢查一下信箱
            </h3>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->