.fuelux .wizard ul li:before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #F5F5F5;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: -30px;

  @media (max-width: 767px) {
    width: 10px;
    left: -10px;
  }
}

.fuelux .wizard ul li.active {
  color: #FFF;
}

.fuelux .wizard ul li:first-child:before {
  display: none;
}

.fuelux .wizard ul li.complete {
  background-color: #DADADA;
  color: #FFF;
}

.fuelux .wizard ul li.complete:before {
  background-color: #DADADA;
}

.fuelux .wizard ul li.complete:hover {

}
.fuelux .wizard ul li.complete:hover {
  cursor: pointer;
  background: none repeat scroll 0% 0% #F5F5F5;
}

.fuelux .wizard ul li.active {
  background-color: #F8A326;
}