<%= render 'layouts/breadcrumbs', title: t('header.navigation.requirement') %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 margin-bottom-40">
          <div class="title-box">
            <div class="title-box-text">
              QuoiQuoi-布知道歡迎你的加入
            </div>
            <p>
              有皮包打版、打樣 3年以上資歷。<br/>
              設計制定品牌企劃提案與當季新商品設計並提供設計概念<br/>
              設計提出詳細的設計圖稿 <small>標明使用皮料、色彩、尺寸、處理方法，及圖案設計。</small><br/>
              控制樣品製作時間，修改到最後生產完成<br/>
              收集流行趨勢，行業資訊（皮料，裝飾件，新創新工藝等）
            </p>
          </div>
          <ul class="list-unstyled who">
            <li>
              <a href="mailto://lisabella2@hotmail.com">
                <i class="icon-envelope-alt"></i>
                <span>lisabella2@hotmail.com</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-mobile-phone" style="padding:0 3px;"></i>
                <span>0935590279</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-phone"></i>
                <span>0228097712</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="headline"><h2>Contact Form</h2></div>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p><br>
          <form>
            <label>Name</label>
            <div class="row margin-bottom-20">
              <div class="col-md-7 col-md-offset-0">
                <input class="form-control" type="text">
              </div>
            </div>

            <label>Email <span class="color-red">*</span></label>
            <div class="row margin-bottom-20">
              <div class="col-md-7 col-md-offset-0">
                <input class="form-control" type="text">
              </div>
            </div>

            <label>Message</label>
            <div class="row margin-bottom-20">
              <div class="col-md-11 col-md-offset-0">
                <textarea rows="8" class="form-control"></textarea>
              </div>
            </div>

            <p><button type="submit" class="btn-u">Send Message</button></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag 'test3.jpg', class: 'img-responsive' %>
    </div>
  </div>
</div>