<div class="box">
  <div class="box-header">
    <div class="title">
      客戶聯絡資訊
    </div>
    <div class="actions">
      <a class="btn box-collapsed btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>
  <div class="box-content">
    <div class="form-group">
      <label>聯絡人姓名</label>
      <div class="controls">
        <%= text_field_tag :name, order.name, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label>聯絡人電話</label>
      <div class="controls">
        <%= text_field_tag :phone, order.phone, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="controls">
        <%= text_field_tag :phone, order.user.email, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
  </div>
</div>