<div class="alert alert-success alert-dismissable">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <%= link_to(edit_admin_order_path(flash[:id])) do %>
    訂單編號&nbsp;
    <%= flash[:id] %>
  <% end %>
  &nbsp;確認出貨, 系統已自動送信通知客戶
</div>