<div class="box bordered-box sea-blue-border" style="margin-bottom:0;">
  <div class="box-header sea-blue-background">
    <div class="title">訂單詳細內容</div>
    <div class="actions">
      <a class="btn box-remove btn-xs btn-link" href="#"><i class="icon-remove"></i></a>
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>
  <div class="box-content box-no-padding">
    <div class="responsive-table">
      <div class="scrollable-table">
        <table class="data-table table table-striped" style="margin-bottom:0;">
          <thead>
          <tr>
            <th></th>
            <th>名稱</th>
            <th>金額</th>
          </tr>
          </thead>
          <tbody>
          <% order.order_products.each do |order_product| %>
            <tr>
              <td>
                <%= image_tag order_product.product.image.url(:thumb), class: 'img-responsive' %>
              </td>
              <td>
                <strong><%= order_product.product.product_translates.reject{|translate| translate.name.blank?}.collect{|translate| translate.name}.join(' - ') %></strong>
              </td>
              <td class="col-xs-1">
                <%= number_to_currency(order_product.product.price) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h4 class="text-right">
      總金額 :
      <strong class="text-muted">
        <%= number_to_currency(order.subtotal) %>
      </strong>
    </h4>
  </div>
</div>