<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2>感謝您報名QuoiQuoi - 布知道工作室的課程</h2>
<p>
  <strong>親愛的客戶: </strong><br/>
  非常感謝你報名我們的課程, 以下是您報名的課程, 在此提醒您請勿錯過已報名課程以免侵害自身權益
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <td></td>
    <td>名稱</td>
    <td>課程時間</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag "#{@domain}#{@registration.course.image.url(:thumb)}" %>
    </td>
    <td>
      <h5>
        <%= @registration.course.course_translates.where(locale_id: @locale_id).first.name %>
      </h5>
    </td>
    <td>
      <%= "#{@registration.course.time.strftime('%Y/%m/%d %H:%M')} - #{(@registration.course.time + @registration.course.length.hours).strftime('%H:%M')}" %>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
