<div class="list-items">
  <% @rent_info_images.each do |rent_info_image| %>
    <div class="list-item-3">
      <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" href="<%= asset_path rent_info_image.image.url(:large) %>">
            <span class="overlay-zoom">
              <%= image_tag rent_info_image.image.url(:thumb), class: 'img-responsive', style: 'width:100%;' %>
            </span>
      </a>
    </div>
  <% end %>
</div>