
<div class="fullwidthbanner-container">
  <div class="fullwidthbanner">
    <ul>
      <% @slides.each do |slide| %>
        <% translate = slide.slide_translates.where(locale_id: session[:locale_id]).first %>
        <li class="carousel-link" data-target="<%= translate.link %>" data-transition="papercut" data-slotamount="1" data-masterspeed="300" data-thumb="<%= asset_path slide.image.url(:thumb) %>">
          <!-- THE MAIN IMAGE IN THE FOURTH SLIDE -->
          <%= image_tag slide.image.url(:large) %>
          <h4 style="display: none;">
            <%= translate.description %>
          </h4>
        </li>
      <% end %>
    </ul>

    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>