
<!--=== Slider ===-->
<div class="slider-inner">
  <div id="da-slider" class="da-slider" style="background-image:url(<%= asset_path 'system/blackboard.jpg' %>)">
    <% @slides.each do |slide| %>
      <div class="da-slide">
        <% slide.slide_translates.where(locale_id: session[:locale_id]).each do |translate| %>
          <%= simple_format(translate.title, {}, wrapper_tag: 'h2') %>
          <p>
            <% translate.description.split(/\n/).each_with_index do |each_translate, index| %>
              <i><%= each_translate %></i>
              <% if translate.description.split(/\n/).length - 1 != index %>
                <br />
              <% end %>
            <% end %>
          </p>
        <% end %>
        <div class="da-img">
          <%= image_tag slide.image.url(:medium) %>
        </div>
      </div>
    <% end %>
    <div class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </div>
  </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<div class="container">

</div>