<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header">
        <div class="title">
          聯絡資訊
        </div>
        <div class="actions">
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
        </div>
      </div>
      <div class="box-content">
        <div class="form-group">
          <label>聯絡人姓名</label>
          <div class="controls">
            <%= text_field_tag :name, @order_custom_item.name, class: 'form-control', disabled: 'disabled' %>
          </div>
        </div>
        <div class="form-group">
          <label>電子信箱</label>
          <div class="controls">
            <%= text_field_tag :email, @order_custom_item.user.email, class: 'form-control', disabled: 'disabled' %>
          </div>
        </div>
        <div class="form-group">
          <label>電話</label>
          <div class="controls">
            <%= text_field_tag :phone, @order_custom_item.phone, class: 'form-control', disabled: 'disabled' %>
          </div>
        </div>
        <div class="form-group">
          <label>Line</label>
          <div class="controls">
            <%= text_field_tag :line, @order_custom_item.line, class: 'form-control', disabled: 'disabled' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>