<% if order_custom_item.accept? && !order_custom_item.accept_time.blank? && !order_custom_item.order %>
  <label class="label label-success">已接受</label>
<% elsif !order_custom_item.accept? && !order_custom_item.accept_time.blank? && !order_custom_item.order %>
  <label class="label label-inverse">拒絕訂製</label>
<% elsif order_custom_item.order %>
  <label class="label label-default">已下單</label>
<% else %>
  <label class="label label-danger">待確認</label>
<% end %>