<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %>: </strong><br/>
  <%= t('mailer.order_information', link: link_to(order_custom_item_url("[#{t('control_panel')}]", @order_custom_item))) %><br/>
  <%= link_to t('custom_order.detail'), order_custom_item_url(@order_custom_item) %><br/><br/>
  <%= t('mailer.custom_item_decline') %>
</p>

<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>