<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  <strong><%= t('mailer.dear') %>: </strong><br/>
  <%= t('mailer.order_information', link: link_to("[#{t('control_panel')}]", order_custom_item_url(@order_custom_item))).html_safe %><br/>
  <%= t('mailer.custom_item_decline').html_safe %>
</p>

<br>
<br>
<a href="http://quoiquoi.tw">quoiquoi 布知道</a>
</body>
</html>