<div class="box">
  <div class="box-header">
    <div class="title">
      客戶匯款資訊
    </div>
    <div class="actions">
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
    </div>
  </div>
  <div class="box-content">
    <div class="form-group">
      <label>匯款金額</label>
      <div class="controls">
        <%= text_field_tag :amount, @payment.amount, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label>匯款帳號後五碼</label>
      <div class="controls">
        <%= text_field_tag :identifier, @payment.identifier, class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
    <div class="form-group">
      <label>匯款日期</label>
      <div class="controls">
        <%= text_field_tag :pay_time, (@payment.pay_time)? @payment.pay_time.strftime('%Y/%m/%d') : '', class: 'form-control', disabled: 'disabled' %>
      </div>
    </div>
  </div>
</div>