<%= form_tag delivery_report_order_path(order_id), class: 'form validate-form', method: :put do %>
  <div class="modal fade" id="delivery-report-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            請不要緊張！我們將會聯絡、協助你取得你的貨品
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <span>除此之外，請問還有什麼其他想跟我們說的呢？</span>
            <%= text_area_tag :delivery_report_message, '', class: 'form-control no-account', rows: 4, data: {'rule-required' => true} %>
            <span>
              <input type="checkbox" data-dismiss="disable" data-target="textarea.no-account" /> 沒有什麼特別要提的
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
          <button type="submit" class="btn btn-primary"><%= t('submit') %></button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>