<div class="col-xs-12">
  <h4 class="alert alert-info fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <i class="fa fa-fw fa-flip-horizontal fa-truck"></i>你的訂單已經寄出囉!
  </h4>
</div>