<div class="headline"><h2>想要留訊息給我們嗎？</h2></div>
<form>
  <label>您的稱呼</label>
  <div class="row margin-bottom-20">
    <div class="col-md-7 col-md-offset-0">
      <input class="form-control" type="text">
    </div>
  </div>

  <label>Email <span class="color-red">*</span></label>
  <div class="row margin-bottom-20">
    <div class="col-md-7 col-md-offset-0">
      <input class="form-control" type="text">
    </div>
  </div>

  <label>想要說的話</label>
  <div class="row margin-bottom-20">
    <div class="col-md-11 col-md-offset-0">
      <textarea rows="8" class="form-control"></textarea>
    </div>
  </div>

  <p><button type="submit" class="btn-u">送出訊息</button></p>
</form>