<%= image_tag @product.image.url(:thumb), class: 'well-sm' %>
現貨修改可選布料類別&nbsp;
<small>現貨名稱:&nbsp;</small>
<span class="label label-danger">
  <%= @product.product_translates.reject{|translate| translate.name.blank?}.collect{|translate| translate.name}.join('/') %>
</span>