<div class="modal" id="signin-modal" style="display:block;position:relative;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="padding-top: 0;">
        <div class="row">
          <div class="col-xs-12 text-center" id="user-email-sent">
            <h3>
              <i class="fa fa-envelope-o fa-fw"></i>
              我們寄了一個連結給你以用來確認身份<br/>請你檢查一下信箱
            </h3>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->