<div class='col-xs-12'>
  <div class='page-header page-header-with-buttons'>
    <h1 class='pull-left'>
      <i class='icon-dashboard'></i>
      <span>Dashboard</span>
    </h1>
    <div class='pull-right'>
      <div class='btn-group'>
        <a class="btn btn-white hidden-xs" href="#">上個月</a>
        <a class="btn btn-white" href="#">上週</a>
        <a class="btn btn-white " href="#">今日</a>
      </div>
    </div>
  </div>
  <div class='alert alert-info alert-dismissable'>
    <a class='close' data-dismiss='alert' href='#'>&times;</a>
    歡迎來到 QuoiQuoi 布知道管理界面
  </div>
  <div class='row'>
    <div class='col-sm-6 box'>
      <div class='box-header'>
        <div class='title'>
          <i class='icon-inbox'></i>
          新訂單
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>
                      
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart1' style="height:200px;"></div>
      </div>
    </div>
    <div class='col-sm-6 box'>
      <div class='box-header'>
        <div class='title'>
          <i class='icon-group'></i>
          新用戶註冊
        </div>
        <div class='actions'>
          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
          </a>
                      
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
          </a>
        </div>
      </div>
      <div class='box-content'>
        <div id='stats-chart2' style="height:200px;"></div>
      </div>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-sm-12 col-md-6'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>
            <div class='icon-inbox'></div>
            訂單
          </div>
          <div class='actions'>
            <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
            </a>
                        
            <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
            </a>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6'>
            <div class='box-content box-statistic'>
              <h3 class='title text-error'>191</h3>
              <small>新訂單</small>
              <div class='text-error icon-inbox align-right'></div>
            </div>
            <div class='box-content box-statistic'>
              <h3 class='title text-warning'>311</h3>
              <small>待確認訂單</small>
              <div class='text-warning icon-check align-right'></div>
            </div>
            <div class='box-content box-statistic'>
              <h3 class='title text-info'>3</h3>
              <small>待確認匯款</small>
              <div class='text-info icon-check align-right'></div>
            </div>
          </div>
          <div class='col-sm-6'>
            <div class='box-content box-statistic'>
              <h3 class='title text-primary'>3</h3>
              <small>待出貨訂單</small>
              <div class='text-primary icon-truck align-right'></div>
            </div>
            <div class='box-content box-statistic'>
              <h3 class='title text-success'>981</h3>
              <small>已完成訂單</small>
              <div class='text-success icon-flag align-right'></div>
            </div>
            <div class='box-content box-statistic'>
              <h3 class='title text-muted'>0</h3>
              <small>不接受訂單</small>
              <div class='text-muted icon-remove align-right'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6 col-md-3'>
      <div class='box'>
        <div class='box-header'>
          <div class='title'>
            <i class='icon-comments'></i>
            訪客留言
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='box-content box-statistic'>
              <h3 class='title text-error'>91</h3>
              <small>New</small>
              <div class='text-error icon-plus align-right'></div>
            </div>
            <div class='box-content box-statistic'>
              <h3 class='title text-success'>1</h3>
              <small>Approved</small>
              <div class='text-success icon-ok align-right'></div>
            </div>
            <div class='box-content box-statistic'>
              <h3 class='title text-info'>123</h3>
              <small>Pending</small>
              <div class='text-info icon-time align-right'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class='row'>
    <div class='col-sm-12 col-md-6'>
      <div class='row recent-activity'>
        <div class='col-sm-12'>
          <div class='box'>
            <div class='box-header'>
              <div class='title'>
                <i class='icon-comments'></i>
                客戶詢問
              </div>
              <div class='actions'>
                <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                </a>
                            
                <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                </a>
              </div>
            </div>
            <div class='box-content box-no-padding'>
              <ul class='list-unstyled comments list-hover list-striped'>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Kellie</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
                      </a>

                      <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
                      </a>

                    </div>
                    <div class='text'>Qui vel omnis quia ea quasi voluptate rerum cum sit. Corporis qui ducimus quidem</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 18:33:37 +0200'>September 15, 2013 - 18:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Jerald</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
                      </a>

                      <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
                      </a>

                    </div>
                    <div class='text'>Hic aut earum blanditiis sit culpa in saepe reiciendis. Alias expedita officia magnam possimus et possimus culpa assumenda consequatur qui aut vel</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 19:33:37 +0200'>September 15, 2013 - 19:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Cathleen</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
                      </a>

                      <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
                      </a>

                    </div>
                    <div class='text'>Eum pariatur quod sapiente nulla. Minima modi cumque necessitatibus quam dolor corrupti fugiat impedit voluptas nobis nisi consequatur aut</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 20:33:37 +0200'>September 15, 2013 - 20:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Zoe</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
                      </a>

                      <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
                      </a>

                    </div>
                    <div class='text'>Ut quibusdam debitis eaque et quis sapiente eos tempore distinctio quia et deleniti. Quae libero ullam harum mollitia non sunt placeat temporibus consequatur</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 21:33:37 +0200'>September 15, 2013 - 21:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <div class='icon-user'></div>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Toby</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
                      </a>

                      <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
                      </a>

                    </div>
                    <div class='text'>Dolorem id consequatur quod dolor natus. Optio fugiat qui qui debitis</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 22:33:37 +0200'>September 15, 2013 - 22:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
                <li>
                  <div class='avatar pull-left'>
                    <img alt='Avatar' height='23' src='assets/images/avatar.jpg' width='23'>
                  </div>
                  <div class='body'>
                    <div class='name'><a class="text-contrast" href="#">Lynette</a></div>
                    <div class='actions'>
                      <a class="btn btn-link ok has-tooltip" title="Approve" href="#"><i class='icon-thumbs-up'></i>
                      </a>

                      <a class="btn btn-link remove has-tooltip" title="Remove" href="#"><i class='icon-thumbs-down'></i>
                      </a>

                    </div>
                    <div class='text'>Et aliquam et et. Nemo natus est sint modi occaecati</div>
                  </div>
                  <div class='text-right'>
                    <small class='date text-muted'>
                      <span class='timeago fade has-tooltip' data-placement='top' title='2013-09-15 23:33:37 +0200'>September 15, 2013 - 23:33</span>
                      <i class='icon-time'></i>
                    </small>
                  </div>
                </li>
              </ul>
              <div class='load-more'>
                <a id="comments-more-activity" class="btn btn-block" data-loading-text="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt; Loading more..." href="#"><i class='icon-circle-arrow-down'></i>
                  讀取更多
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='box'>
            <div class='box-header blue-background'>
              <div class='title'>
                <div class='icon-envelope-alt'></div>
                快速回覆
              </div>
              <div class='actions'>
                <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                </a>
                            
                <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                </a>
              </div>
            </div>
            <div class='box-content'>
              <div class='form-group'>
                <input value="" placeholder="E-mail" class="form-control" name="email" type="text" />
              </div>
              <div class='form-group'>
                <textarea class='form-control wysihtml5' id='body' placeholder='Your message...' rows='5'></textarea>
              </div>
              <div class='text-right'>
                <a class="btn btn-primary" href="#">寄出</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>