<% if user_gift.payment %>
  <% if !user_gift.payment.completed? && (user_gift.payment.identifier.blank? || user_gift.payment.pay_time.blank?) %>
    <label class="label label-contrast">
      等待匯款
    </label>
  <% elsif !user_gift.payment.completed? && (user_gift.amount != 0 || !user_gift.payment.identifier.blank? || !user_gift.payment.pay_time.blank?) %>
    <label class="label label-danger">
      等待確認
    </label>
  <% else %>
    <label class="label label-success">
      付款完畢
    </label>
  <% end %>
<% else %>
  <label class="label label-warning">
    等待付款
  </label>
<% end %>