<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-flag"></i>
      <span>禮券詳細</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'admin/gifts/gift_detail', gift: @user_gift.gift %>
    </div>
  </div>
</div>