<div class="alert alert-success alert-dismissable">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <label class="text-muted">
    報名編號&nbsp;
    <%= flash[:id] %>
  </label>
  &nbsp;已永久刪除
</div>