<%= render 'layouts/breadcrumbs', title: t('header.navigation.class') %>
<div class="container">
  <div class="row">
    <div class='box'>
      <div class='box-header'>
        <div class='title'>Home and work</div>
      </div>
      <div class='box-content'>
        <div class='full-calendar-demo'></div>
      </div>
    </div>
  </div>
</div>