/*Menu
------------------------------------*/
/*Navbar*/
.header .navbar-default .navbar-nav > .active > a {
	color: #787d80;
}

.navbar-toggle {
  transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s, bottom 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.3);
  color: #7c8082;
  padding: 10px 15px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0.75);
}

/*Serach Box*/
.header .navbar .nav > li > a.search:hover {
	color: #787d80;
	border-bottom-color: #787d80;
}

/*Responsive @Media 
------------------------------------*/
@media (min-width: 767px) {
	/*Navbar*/
    .header .navbar-default .navbar-nav {
      .btn {
        border: none;
      }
    }
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {

      border-bottom: 2px solid #787d80;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #787d80;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu { 
		border-top: solid 2px #787d80; 
	}

}