<div class="carousel slide carousel-v1 carousel-fade" id="carousel-1">
  <div class="carousel-inner">
    <% @introduce_image_slides.each_with_index do |introduce_image_slide, index| %>
      <div class="item <%= 'active' if index == 0 %>">
        <%= link_to introduce_image_slide.image.url(:large), target: '_blank' do %>
          <%= image_tag introduce_image_slide.image.url(:medium), class: 'img-responsive', style: 'width:100%;' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="carousel-arrow">
    <a data-slide="prev" href="#carousel-1" class="left carousel-control">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a data-slide="next" href="#carousel-1" class="right carousel-control">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>