<div class="row">
  <% @introduce_youtubes.each do |youtube| %>
    <div class="col-md-12 youtube-video" style="margin-top:20px;" data-youtube-id="<%= youtube.youtube.gsub(/[https|http]+:\/\/www\.youtube\.com\/watch\?v=([\w\d]+)/, '\1') %>">
      <img class="img-responsive" src="http://img.youtube.com/vi/<%= youtube.youtube.gsub(/[https|http]+:\/\/www\.youtube\.com\/watch\?v=([\w\d]+)/, '\1') %>/maxresdefault.jpg" />
      <i class="fa fa-youtube-play fa-5x"></i>
    </div>
  <% end %>
</div>