<div class="row">
  <% @introduce_youtubes.each do |youtube| %>
    <div class="col-md-12 youtube-link margin-bottom-20" style="margin-top:20px;" data-link="<%= youtube.youtube %>">
      <%= image_tag asset_path('youtube.gif'), class: 'img-responsive' %>
    </div>
  <% end %>
</div>