@import 'flatty/theme-colors';
@import 'flatty/bootstrap/bootstrap';
@import 'flatty/plugins/plugins';
@import 'flatty/jquery/jquery_ui';
@import 'flatty/light-theme';

@mixin correct-theme-hover-color($themeName, $theme, $multiplier) {
  .contrast-#{$themeName} header .navbar > .nav > li > a, .contrast-#{$themeName} header .navbar > .nav > li.open > a{
    &, &:active, &.active, &:hover {
      background: none repeat scroll 0% 0% darken($theme, 20%);
    }
  }
}

@for $i from 1 through length($themeNames) {
  $themeName: nth($themeNames, $i);
  $theme: nth($themeColors, $i);
  $multiplier: nth($headerMultipliers, $i);

  @include correct-theme-hover-color($themeName, $theme, $multiplier);
}