@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
// @import 'unify/bootstrap/bootstrap/bootstrap';
@import url(//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);


@import 'unify/plugins/plugins';

@import 'flatty/plugins/fullcalendar/fullcalendar';

@import 'unify/jquery/jquery_ui';

@import 'unify/responsive';

@import 'unify/style';

@import 'unify/headers/header1';

@import 'unify/pages/pages';

@import 'unify/themes/light';
@import 'unify/themes/headers/header1-light';

@import 'unify/boxes';
@import 'unify/wizard';

@import 'unify/asside_menu';
@import 'unify/offcanvas';

// override font size start
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: "Helvetica Neue",Helvetica,Arial, "微軟正黑體",sans-serif;
  font-size: 12px;
}
h4, .h4 {
  font-size: 13px;
}
h3, .h3{
  font-size: 16px;
}
h2 .h2 {
  font-size: 18px;
}
.btn-lg, .btn-group-lg > .btn {
  font-size: 15px;
}

// override font size end

.breadcrumb > li:last-child {
  color: #E67E22;
}

.w-footer {
  border-top: 1px solid #F1F1F1;
  padding: 10px 0;
}

.w-footer span {
  font-size: 18px;
  color: #616161;
}

.list-group-item {
  border: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #F5F5F5;
  color: #262626;
}

.contact {
  font-size: 20px;
}

.contact li:hover span, .contact li:hover i {
  color: #E67E22;
}

.da-slider {
//  height: 500px;
}

.show-calendar {
  padding: 3px;
}

.fc-view .fc-event:hover {
  text-decoration: none;
  color: #FFF;
}

.one-page .one-page-inner {
  padding: 10px;
  min-height: 0;
}

.one-page .btn-u, .one-page .btn {
  margin-bottom: 0;
}

.one-page a.one-page-btn {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  color: #333;
  background: none repeat scroll 0% 0% #FAFAFA;
}

.footer h2, .footer h3, .footer h4 {
  color: #585F69;
}

.copyright {
  background: none repeat scroll 0% 0% #585F69;
}

.top ul.loginbar > li > a, .top ul.loginbar > li > a:hover {
  font-size: 13px;
}

.recommend .bx-wrapper .bx-controls-direction a {
  top: -30px;
}

.recommend h4 i {
  color: #585F69;
}

.header .navbar .nav > li > a.search {
  background: none repeat scroll 0% 0% rgb(255, 255, 255) !important;
  border-bottom: none;
}

.aside-menu-switch i {
  color: #e67e22;
}

.header .navbar .nav > li {
  a.aside-menu-switch:hover, a.aside-menu-switch.active {
    border-bottom: 2px solid #e67e22;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
}

.news p {
//  background: image_url('unify/plugins/parallax-slider/bg-text.png') repeat scroll 0% 0% transparent;
//  padding: 5px 20px;
  font-style: normal;
  color: #FFF;
//  display: inline-block;
  position: absolute;
  top: 90px;
  left: 130px;
}

.tp-caption a.btn-glassy:hover {
  background: rgba(255, 255, 255, 0);
}

.tp-caption a.btn-glassy {
  background: rgba(255, 255, 255, 0.1);
  color: #FFF;
  border-color: #FFF;
  font-weight: bold;
  border-width: 3px;
  padding-left: 30px;
  padding-right: 30px;
}

#fullScreenSliderWrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  margin: auto;
}

#flexHome h4 {
  font-size: 13px;
  margin-bottom: 11px;
  font-weight: 300;
  line-height: 1em;
  padding: 0px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  display: inline-block;
  background: none repeat scroll 0% 0% transparent;
  color: #585F69;
}

#flexHome h4:hover {
  color: #333;
}

.preload {
  display: none;
}

.selectpicker .label {
  margin-left: 10px;
}

hr.hr-normal {
  margin-left: 0px;
  margin-right: 0px;
}

.header .navbar-brand {
  padding: 0 10px 0 0;
  margin: 0 !important;
}

.order-button {
  background: #EEE;
}

.side-menu-block {
  background: #262626;
  margin-bottom: 5px;
  padding: 10px 0;
}

#topcontrol {
  display: block;
  position: fixed;
  bottom: -50px;
  right: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  opacity: 0;
  z-index: 100;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease, bottom 0.3s ease;
  transition: background-color 0.3s ease, opacity 0.3s ease, bottom 0.3s ease;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

#topcontrol:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
}

.icon-hover {
  opacity: 0.7;
}
.icon-hover:hover {
  opacity: 1;
}

.help-block {
  margin: 0;
}

.box .box-header.grey-background {
  background-color:#fbfbfb;
  border:1px #DDD solid;
  border-bottom:0;
}

.order-time {
  margin-left: 20px;
  color: #777;
}

table.table-padding-10 > tbody > tr > td {
  padding: 10px;
}
table.table-padding-20 > tbody > tr > td {
  padding: 20px;
}
table.table-padding-30 > tbody > tr > td {
  padding: 30px;
}
table.table-padding-40 > tbody > tr > td {
  padding: 40px;
}
table.table-padding-50 > tbody > tr > td {
  padding: 50px;
}

.step li span:before {
  content: "";
  width: 50%;
  height: 4px;
  display: block;
  position: absolute;
  top: 20px;
  margin-top: -2px;
  left: -25%;
  background-color: #DDD;
  border-radius: 2px;
}

.step li:first-child span:before {
  display: none;
}

.step i {
  color: #95A5A6;
}

li.step-active {
  h4 {
    color: #e67e22;
    font-weight: bolder !important;
  }

  i.icon-round {
    color: #666;
    border-color: #666;
  }

  span:before {
    background-color: #666;
  }
}

.top-navigation {
  margin-bottom: 0;

  li div:before {
    content: "";
    display: block;
    background-color: #DDD;
    width: 2px;
    height: 14px;
    float: left;
    margin: 4px 8px;
  }

  li {
    float: left;
  }

  li:first-child div:before {
    display: none;
  }

  a:hover {
    text-decoration: none;
  }

  .dropdown-menu{
    left: auto;
    li {
      float: none;
    }
  }
}

.select-box {
  margin-bottom: 5px;

  .box-header-small {
    padding: 5px 5px 0 !important;
  }

  i.fa-check-square-o {
    margin-right: -4px;
  }
}
.select-box-model {
  display: none;
}
.select-box.active {
  background: none repeat scroll 0% 0% #F5F5F5;
  .box-header i{
    color: #333;
  }
}

.fuelux .step-content .pagination {
  margin-top: 0;
  margin-bottom: 20px;
  li {
    display: inline;
  }
}

.headline {
  border-bottom: 1px solid #E4E9F0;
}

.list-unstyled.who li a{
  color: #585F69;
}

.list-unstyled.article{
  li {
    margin-top: 0px;
    margin-bottom: 4px;
    padding-bottom: 2px;

    a:hover {
      text-decoration: none;
      color: #585F69;
    }

    a {
      color: #758084;
      text-decoration: none;
    }
  }

  li:not(:last-child) {
    border-bottom: 1px #E4E9F0 solid;
  }
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  border-color: #FFF;
}

.img-responsive {
  width: 100%;
}

.wrapper {
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

  -webkit-animation: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Safari and Chrome */
  -moz-animation: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Firefox */
  -ms-animation: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Internet Explorer */
  -o-animation: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Opera */
  animation: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  background-color: #FFF;
  padding: 0;
  margin: 0 -8px;

  @media (max-width: 767px) {
    padding: 0 15px;
    margin: 0;
  }
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.side-0 {
  left: 0;
  right: 0;
}

.navbar-nav{
  li {
    -webkit-animation: height 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Safari and Chrome */
    -moz-animation: height 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Firefox */
    -ms-animation: height 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Internet Explorer */
    -o-animation: height 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; /* Opera */
    animation: height 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  a{
    text-align: left;
  }
}

.navbar-collapse {
  max-height: none;
}

.controls {
  li.dropdown {
    float: left;
  }

  .control-title {
    font-weight: bold;
    padding-left: 10px;
  }

  .aside-menu-switch:hover {
    background-color: #FFF;
  }

  .dropdown-menu li.active a {
    background-color: #F5F5F5;
    color: #262626;
  }
}

.fuelux .wizard {
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
  border: medium none;
}

.fuelux .wizard ul li {
  background-color: #F5F5F5;
  margin-right: 30px;
  padding: 0px 15px;
  color: #424242;
  font-family: Montserrat;
  font-size: 20px;
  position: relative;
  border-radius: 0px !important;

  @media (max-width: 767px) {
    margin-right: 10px;
  }
}

.responsive-table {
  position: relative;
  overflow: hidden;

  .scrollable-area {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
  }

  table {
    td {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.fullwidthbanner {
  opacity: 0;
}

.fullwidthbanner-container {
  background: image_url('unify/plugins/bxslider/bx_loader.gif') center no-repeat;
}

a:hover, a:focus {
  text-decoration: none;
}

img#logo-header {
  width: 200px;
  height: 58;
  @media (max-width: 767px) {

  }

  @media (min-width: 768px) and (max-width: 991px) {

  }

  @media (min-width: 992px) and (max-width: 1199px) {

  }

  @media (min-width: 1200px) {

  }
}

.navbar-brand {
  height: auto;
}

.main-container {
  margin-top: 30px;

  @media (max-width: 767px) {
    margin-top:10px;
  }
}

a[data-toggle=offcanvas] {
  padding: 5px 0;
  display: inline-block;
  margin-bottom: 5px;
}

.bxslider a{
  display: inline-block;
}
.bxslider h5 {
  margin-bottom:0;
}
.bxslider1 a{
  display: inline-block;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.carousel-link {
  cursor: pointer;
}

.gift-search {
  margin-top: 30px;
  opacity: 0;
  height: 0;

  transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
}

.gift-search.active {
  height: auto;
  opacity: 1;
}

.articles {
  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }

  :not(.headline) a {
    display: block;
    padding-bottom: 5px;

    transition: opacity 0.05s ease;
    -o-transition: opacity 0.05s ease;
    -moz-transition: opacity 0.05s ease;
    -webkit-transition: opacity 0.05s ease;

    &:hover {
      color: #000;
      opacity: 0.6;
    }
  }

  .article {
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.headline h3 small {
  margin-top: 5px;
}

.sidebar-nav-v1 {
  .list-group-item {
    a {
      i {
        margin-bottom: 3px;
      }
    }
  }
}

.top-navigation {
  font-size: 13px;
}

.badge {
  border-radius: 10px !important;

  &.badge-orange {
    background-color: lighten(#E67E22, 10%);
  }
}

.fa-shopping-cart {
  .badge {
    top: 0px;
  }
}

.btn-u-orange {
  color: #FFF;

  &:hover {
    color: #FFF;
  }
  &:focus {
    color: #FFF;
  }
}

.close {
  line-height: 0.7;
}

.large_text {
  font-size: 14px;
}

.nav > li > a.mobile-control-btn {
  padding: 6px 8px;
}

.carousel-caption {
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 7px 15px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);

  p {
    color: #FFF;
    margin-bottom: 0px;
  }
}

.serial-number {
  width: 100%;

  input {
    background-color: #FAFAFA;
  }

  input:focus {
    background-color: #FFF;
  }

  span {
    background-color: #FFF;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.course {
  .label {
    margin-top: 2px;
  }
}

.article-content {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.youtube-video {
  position: relative;
  cursor: pointer;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.7;
    color: darken(#CC181E, 10%);
    margin-top: -30px;
    margin-left: -30px;
  }

  &:hover i {
    opacity: 1;
  }
}