<div class="alert alert-warning alert-dismissable">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <%= link_to(admin_course_path(flash[:id])) do %>
    課程編號&nbsp;
    <%= flash[:id] %>
  <% end %>
  &nbsp;已設定為額滿
</div>