<div class="alert alert-warning alert-dismissable">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <%= link_to(admin_course_path(flash[:id])) do %>
    課程編號&nbsp;
    <%= flash[:id] %>
  <% end %>
  &nbsp;課程取消, 系統已寄出通知信件通知客戶聯繫協助退款事宜, 請注意如果要刪除課程需要將已報名完成客戶退款完畢
</div>