<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">
      <%= title %>
    </h1>
    <ul class="pull-right breadcrumb">
      <%= render_breadcrumbs tag: :li, separator: '' %>
    </ul>
  </div>
</div>