<div class="breadcrumbs hidden-xs">
  <div class="container">
    <div class="row">
      <ul class="pull-left breadcrumb">
        <%= render_breadcrumbs tag: :li, separator: '' %>
      </ul>
    </div>
  </div>
</div>