<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="copyright-space">
        2014 © CapsLock. ALL Rights Reserved.
        <a href="http://calvinpeak.net">Calvin</a>
        |
        <%= link_to t('privacy_statement'), privacy_statement_path %>
        &middot;
        <%= link_to t('terms_of_service'), terms_of_service_path %>
      </p>
    </div>
    <div class="col-md-6">
      <p class="copyright-space pull-right">
        <%= link_to admin_root_path do %>
          <span style="color:#fff;"><%= t('footer.login') %></span>
          <i class="icon-signin"></i>
        <% end %>
      </p>
    </div>
  </div><!--/row-->
</div><!--/container-->