<div class="container">
  <div class="row">
    <div class="col-md-6 md-margin-bottom-40">
      <!-- About -->
      <div class="headline">
        <h2>主辦單位</h2>
      </div>
      <a href="http://www.im.tku.edu.tw">
        <h4 class="margin-bottom-25 md-margin-bottom-40">
          淡江大學資訊管理學系
        </h4>
      </a>

      <!-- Monthly Newsletter -->
      <div class="headline">
        <h2>協辦單位</h2>
      </div>
      <h4 class="margin-bottom-25 md-margin-bottom-40">
        淡江資管網路策進協會&nbsp;<small>IMNA</small>
      </h4>
      <h4 class="margin-bottom-25 md-margin-bottom-40">
        淡江資管資訊顧問室&nbsp;<small>ICO</small>
      </h4>
      <div>© 2014 CapsLock, <a href="http://calvinpeak.net">Calvin</a></div>
    </div><!--/col-md-4-->

    <div class="col-md-6">
      <!-- Monthly Newsletter -->
      <div class="headline"><h2>聯絡我們</h2></div>
      <address class="md-margin-bottom-40">
        台灣新北市淡水區英專路151號 <br>
        商管大樓 B1111 <br>
        Phone: (02) 26215656 - 2645 or 2648 <br>
        Fax: (02) 26209737 <br>
        Email: <a href="mailto:tlmx@oa.tku.edu.tw" class="">tlmx@oa.tku.edu.tw</a>
      </address>

      <!-- Stay Connected -->
      <div class="headline"><h2>分享出去</h2></div>
      <ul class="social-icons">
        <li>
          <a href="http://www.facebook.com/sharer.php?u=http://imna.im.tku.edu.tw&t=邀請大家一同參加TKU Hackathon http://imna.im.tku.edu.tw" data-original-title="Facebook" class="social_facebook"></a>
        </li>
        <li>
          <a href="http://twitter.com/share?text=邀請大家一同參加TKU Hackathon http://imna.im.tku.edu.tw" data-original-title="Twitter" class="social_twitter"></a>
        </li>
        <li>
          <a href="https://plus.google.com/share?url=http://imna.im.tku.edu.tw" data-original-title="Goole Plus" class="social_googleplus"></a>
        </li>
      </ul>
    </div><!--/col-md-4-->
  </div><!--/row-->
</div>