<div class="container">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
      <!-- About -->
      <div class="headline">
        <h2><%= t('header.navigation.contact') %></h2>
      </div>
      <%= render 'contacts/infos' %>
    </div>

    <% @article_types.each do |type| %>
      <div class="col-md-3">
        <div class="headline">
          <h2><%= type.name %></h2>
        </div>
        <ul class="list-unstyled article">
          <% type.articles.order(created_at: :desc).limit(10).each do |article| %>
            <li>
              <%= link_to truncate(article.title, length: 18), article_path(article.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-3">
      <div class="headline">
        <h2>旅遊景點</h2>
      </div>
    </div>
  </div><!--/row-->
</div>